

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Slider Start -->
<section class="slider" style="background-image:url('/assets/images/bnr.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <img src="" />
                    <h1 class="animated fadeInUp">TECHNOLOGY AS A BUSINESS ENABLER</h1>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Slider End -->
<!-- Services Start -->
<section class="service">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h2>Our Services</h2>
                    <p>We provide a wide range of creative services</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="service-item">
                    <i class="fa fa-cogs"></i>
                    <h4>
                        BUILD YOUR WEBSITE PROFESSIONALLY
                    </h4>
                    <p>With a focus on modern design and user experience, we use the latest technologies and best practices to build websites that are visually stunning, easy to navigate, and optimized for search engines. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="service-item">

                    <i class="fa fa-trophy"></i>
                    <h4>AWARDED LICENSED COMPANY</h4>
                    <p>As a licensed company, we adhere to the highest standards of professionalism and integrity, ensuring that our clients receive the best possible service.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-6">
                <div class="service-item">

                    <i class="fa fa-desktop"></i>
                    <h4>MODERN & RESPONSIVE DESIGN</h4>
                    <p>Modern design emphasizes simplicity, clean lines, and user experience, while responsive design ensures that your website is accessible on any device. </p>
                </div>
            </div>

        </div>
    </div>

</section>

<!-- Services End -->





<section class="feature bg-2" style="background-image:url('/assets/images/home2.jpg')">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6">
                <h2 class="section-subtitle">We are dynamic team of creative people</h2>
                <h4>We are Perfect Solution</h4>
                <p>
                    e specialize in creating custom solutions that are tailored to the unique needs of our clients, using the latest
                    technologies and best practices to deliver exceptional results. What sets us apart is our focus on
                    collaboration, creativity, and innovation.
                </p>
                <p>
                    We work closely with our clients to understand their goals and develop strategies that help them achieve success
                    online. Whether you need a new website, a digital marketing campaign, or ongoing support and maintenance, we
                    have the skills and expertise to deliver the results you need.
                </p>
                <p>
                    Explore our website to learn more about our team and how we can help you take your business to the next level.
                </p><a class="btn btn-view-works" href="#">Get Started</a>
            </div>
        </div>
    </div>
</section>

<!-- Service Start -->
<section class="service">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h2>Our Services</h2>
                    <p><b> We provide a wide range of creative services</b></p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class="fa fa-code"></i>

                        <h4 class="mb-3">Custom Solutions</h4>
                        <p>
                            We use the latest technologies and best practices to build
                            solutions that are scalable, flexible, and easy to use.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class="fa fa-diamond"></i>

                        <h4 class="mb-3">Design Services</h4>
                        <p>
                            Our goal is to help you stand out from the competition and make a
                            lasting impression on your audience.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class="fa fa-globe"></i>

                        <h4 class="mb-3">CMS Solutions</h4>
                        <p>
                            Our team of experts has experience working with a wide range of
                            CMS platforms.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class="fa fa-user"></i>

                        <h4 class="mb-3">Staff Agumentation</h4>
                        <p>
                            We have a rigorous hiring process that ensures we only work with
                            the best and most qualified professionals.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <i class="fa fa-bug"></i>

                        <h4 class="mb-3">Software Testing</h4>
                        <p>
                            Our goal is to help you improve your software quality, reduce your
                            costs, and ultimately deliver a better product to your customers.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>











