



@{
    ViewData["Title"] = "Partner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner Start -->
<section class="slider" style="background-image:url('/assets/images/partnerBnr.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <img src="" />
                    <h1 class="animated fadeInUp">Partner</h1>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner End -->
<!-- Partner section start -->
<section class="service-about section">
    <div class="container">
        <div class="row align-items-center text-center text-lg-left">
            <div class="col-lg-6">
                <h2><b>Progress Sitefinity CMS</b></h2>
                <br>
                <h3>Transform The Digital Experience With Solutions Powered By Sitefinity Development</h3>
                <p class="mt-30" style="text-align: justify;">Future proof your business website by implementing a simple and highly feature rich technology backbone that helps to outpace capabilities and meet the needs of modern enterprises. Business organizations are now moving from a static website to dynamic sites that help to take their business to a new echelon of success. Progress Sitefinity CMS is a platform designed to accomplish specific client requirements that ensure compatibility and convenience to function in line with existing business needs. With headquarter in Satna, TechHarvest is a leading Sitefinity development company that offers you the power to leverage this robust and infinitely scalable enterprise-level solution. So, no matter whether you need help to create and implement Sitefinity CMS, or you want a custom module built for your business, we can help you for sure! As a Sitefinity certified company in India, we offer interactive solutions to clients located in Australia, Canada, and the UK and have successfully delivered multiple projects to our clients and are now certified Sitefinity partners.</p>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="/assets/images/PsitefinityLogo.jpg" alt="" title="Sitefinity">

                <br>
                <br>
                <a href="/contact" class="btn btn-secondary" data-sf-ec-immutable="">Get Started</a>

            </div>
        </div>
    </div>
</section>
<!-- Partner section end -->
<!-- service section start -->
<section class="service">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h2>Our Sitefinity Development Services</h2>
                    <p>
                        <b> Sitefinity helps you to re-imagine and create solutions that not only drive performance, but also closes the communication gap between you and your customers.</b>
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">

                        <i class="fa fa-laptop"></i>

                        <h4 class="mb-3">
                            Dedicated Sitefinity Developer
                        </h4>
                        <p>We have a team of passionate Sitefinity Developer whom you can hire according to your business needs. Our developers can deliver result oriented solutions with utmost customer satisfaction.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">

                        <i class="fa fa-ticket"></i>

                        <h4 class="mb-3">
                            Sitefinity Maintenance and Support
                        </h4>
                        <p>Our technical experts have the proficiency to offer customized support and maintenance solutions for Sitefinity system requirements and powerful web presence that meet the exact requirements of our clients.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">

                        <i class="fa fa-mobile"></i>

                        <h4 class="mb-3">
                            Mobile Website Using Sitefinity
                        </h4>
                        <p>With us, you can take the advantage of the full spectrum of mobile options by creating mobile website. You can</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">

                        <i class="fa fa-cogs"></i>

                        <h4 class="mb-3">
                            Integration with Third Party Tools
                        </h4>
                        <p>If you are planning to modify your existing functionality, our Sitefinity developers can help you to integrate with third party apps and add stunning features to suit your business requirements.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">

                        <i class="fa fa-tasks"></i>

                        <h4 class="mb-3">
                            Sitefinity Multisite Management
                        </h4>
                        <p>Our Multisite Sitefinity development solutions help you to configure a different language for different sites and as per content source. With this, you can share content across different sites with a single click.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">

                        <i class="fa fa-users"></i>

                        <h4 class="mb-3">
                            B2C and B2B Sitefintiy Solutions
                        </h4>
                        <p>Our developers help you to create ecommerce solutions that help you to manage your online presence including e-commerce as well as web content requirements in both B2B and B2C environment.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">

                        <i class="fa fa-diamond"></i>

                        <h4 class="mb-3">
                            Migration and Upgradation Services
                        </h4>
                        <p>If you are planning to migrate to Sitefinity or upgrade your Sitefinity hosting solution to the latest version, then we can help you to take the advantage by adding the new features, fixes and all the other enhancements needed to keep you up to date.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">

                        <i class="fa fa-globe"></i>

                        <h4 class="mb-3">
                            Customized Module and Theme Development
                        </h4>
                        <p>We offer fully customized module and theme development solutions that are created from scratch and meet the exact needs of the clients. Our certified professionals develop creative technology solutions that are unique and focus on your business goals.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">

                        <i class="fa fa-code"></i>

                        <h4 class="mb-3">
                            Sitefinity eCommerce Development
                        </h4>
                        <p>The platform allows you to create an online store with great features quickly. As your Sitefinity partner, we help you to manage your web shop from currencies, shipping methods, tax calculation to store settings, product catalogs, orders, coupons and discounts and many more</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service section end -->
