@{
    ViewData["Title"] = "PrivacyPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="service-about section">
    <div class="container">
        <div class="row align-items-center text-center text-lg-left">
            <div class="col-lg-12">
                <h2>TechHarvest</h2>
                <br>
                <h3>Privacy Policy</h3>
                <p class="mt-30" style="text-align: justify;">TechHarvest Solutions Pvt. Ltd. ("TechHarvest," "we," "us," "our") is committed to protecting the privacy and security of the personal information of our clients and visitors to our website. This Privacy Policy ("Policy") outlines how we collect, use, disclose,and protect your personal information in connection with our services and website.Collection and Use of Personal InformationWe may collect personal information from you when you visit our website or use our services. The types of personal information we may collect include your name, email address, phone number, and other contact information. We may also collect information about your computer or device, such as your IP address and browser type, for system administration and to analyze aggregate information.We may use your personal information to provide you with our services, respond to your inquiries, and send you marketing communications that we believe may be of interest to you. You may opt-out of receiving marketing communications at any time by following the instructions in the communication.Disclosure of Personal InformationWe may disclose your personal information to third-party service providers who perform services on our behalf, such as hosting, analytics, and customer support. We require these service providers to maintain the confidentiality of your personal information and use it only for the purpose for which we provided it to them.We may also disclose your personal information if required by law, regulation, or court order, or if necessary to protect our rights or the rights of others. SecurityWe use reasonable and appropriate measures to protect the security and confidentiality of your personal information. However, no security measures are perfect or impenetrable, and we cannot guarantee the security of your personal information.Your ChoicesYou may have the right to access, correct, or delete your personal information, or to request that we stop using your personal information for marketing purposes. To make such a request, please contact us at the contact information provided below.Changes to this PolicyWe may update this Policy from time to time. If we make material changes to this Policy, we will post a notice on our website and update the "last updated" date at the top of this Policy. Your continued use of our website or services after any such update constitutes your acceptance of the updated Policy.Contact UsIf you have any questions or concerns about this Policy or our privacy practices, please contact us at:TechHarvest Solutions Pvt. Ltd. Beside aabha pathak home, ChankyaPuri Colony, Satna, Madhya Pradesh 485001 info@thetechharvest.com</p>
            </div>

        </div>
    </div>
</section>